*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #e6e6e6;
}

/*
**** Layout ****
*/

#cabecalho{
    background-color: #f7b600;
    text-align: center;
    padding: 15px;
}

#logo, #menu{
    padding: 10px;
}

h1{
    color: #ffffff;
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: 2px 2px 4px #554747;
}
.preto
{
    color: #000000;
}

#area-principal{
    width: 920px;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 0px 0px 10px #aaaaaa;
}

#area-conteudo{
    width: 660px;
    float: left;
    background-color: #ffffff;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #aaaaaa;
}

#area-lateral{
    width: 240px;
    float: right;
    background-color: #ffffff;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #aaaaaa;
}

.postagem{
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
}

#rodape{
    clear: both;
    background-color: #f7b600;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    box-shadow: 0px 0px 10px #aaaaaa;
}

/*
**** Formatação Menu ****
*/
a{
    text-decoration: none;
}

a:link, a:visited{
    color: #ffffff;
    padding: 8px 12px;
}
a:hover{
    text-decoration: underline none;
    color: #f7b600;
    background-color: #e6e6e6;
}