*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #e6e6e6;
}

/*
**** Layout ****
*/

#area-cabecalho{
    background-color: #f7b600;
    text-align: center;
    padding: 15px;
}

#area-logo, #area-menu{
    padding: 10px;
}

#area-principal{
    width: 920px;
    margin: 20px auto;
    padding: 15px;
    box-shadow: 0px 0px 10px #aaaaaa;
}

#area-conteudo{
    width: 660px;
    float: left;
    background-color: #ffffff;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #aaaaaa;
}

#area-lateral{
    width: 240px;
    float: right;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #aaaaaa;
}
.area-lateral-postagem{
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dddddd;
}
.area-lateral-postagem h4{
    border-bottom: none;
}

.area-postagem{
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: none
}

#rodape{
    clear: both;
    background-color: #f7b600;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    box-shadow: 0px 0px 10px #aaaaaa;
}

/*
**** Formatação Menu ****
*/
a{
    text-decoration: none;
}

a:link, a:visited{
    color: #f7b600;
    
}
a:hover{
    text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited{
    color: #ffffff;
    padding: 8px 12px;
}
#area-cabecalho a:hover{
    color: #f7b600;
    background-color: #e6e6e6;
    text-decoration: none;
}

/**** Formatação Geral ****/

h1{
    color: #4e4e4e;
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2{
    color: #f7b600;
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: 2px 2px 4px #554747;
}

h3{
    color: #4e4e4e;
    font-size: 1.5em;
    margin-bottom: 10px;
}

h4{
    color: #4e4e4e;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.preto{
    color: #000000;
}

.data-postagem{
    font-size: 0.9em;
    color: #888888;
    margin-bottom: 10px;
    display: block;
       
}

